%h2 Your contacts

- @contacts.sort{|a,b| a.title.upcase <=> b.title.upcase}.each do |contact|
  %p
    = contact.title
    %ul.addresses
    - contact.addresses.each do |address|
      %li= address.to_s
