%h2 Your contacts

#map_canvas{:style => "width: 900px; height: 500px;"}

:javascript
  var myOptions = {
    zoom: 2,
    center: new google.maps.LatLng(10,0),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

  #{address_markers(@addresses)}
